<footer class="row footer">
  <div class="columns large-12">
    <div class="row content-wrapper-inner">
      <div class="columns large-8">
        <div class="row">
          <div class="columns large-12">
            <h3>testimonials</h3>
          </div>
        </div>
        <div class="row">
          <div class="columns large-3"><img src="/images/test1.jpg" alt="" class="test-img"></div>
          <div class="columns content large-9 testimonials-text">My experience with Tripenticer Holidays was great. They Provided quality services throughout the package within my budget. The staff friendly, always willing to help. I will definitly recommend it for anyone.
            <p><span class="credit"><span class="name">Jose Mathew&nbsp</span><span class="profession">Software QA Specialist, Ottawa</span></span></p>
          </div>
        </div>
      </div>
      <div class="columns content large-4 whychooseus">
        <h3>why choose us</h3>
        <p>Tripenticer is an agency working for the promotion of responsible, sustainable and universally accessible tourism.It offers support to all sectors of tourism, in advancing knowledge and fostering sustainable tourism policies and  development worldwide. </p>
        <a class="button grey" href="../about">learn more</a> </div>
    </div>
  </div>
</footer>
<div class="footer-meta">
  <div class="row">
    <div class="columns large-4">
      <ul class="large-block-grid-4">
        <li><a class="media-wrapper" href="#"><img src="/images/facebook1.png" alt=""></a></li>
        <li><a class="media-wrapper" href="#"><img src="/images/twitter1.png" alt=""></a></li>
        <li><a class="media-wrapper" href="#"><img src="/images/youtube1.png" alt=""></a></li>
      </ul>
    </div>
    <div class="columns content large-8">
      <p>&copy; Copyright. All rights reserved by Degeneration. Design by: Jose Mathew</p>
    </div>
  </div>
</div>

<!-- Latest   jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
<!-- Latest compiled and minified   JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/hoverIntent.js"></script>
<script src="/javascripts/superfish.js"></script>
<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: 'javascripts/placeholder.min.js'
});
function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
});
</script>
</body>
</html>