<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
<title><%= title %></title>
<meta charset="utf-8">

 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
   <!-- Custom Footer CSS -->
  <link rel='stylesheet' href='/stylesheets/footer-distributed.css' />

<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/foundation.min.css">
<link rel="stylesheet" href="/stylesheets/superfish.css">
<link rel="stylesheet" href="/stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/stylesheets/ie-fixes.css">
<![endif]-->
<script src="/javascripts/custom.modernizr.js"></script>
<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: '/stylesheets/ie8-grid-foundation-4.css'
});
</script>
</head>
<body>
<div class="header-outter">
  <div class="row header">
    <div class="columns large-12">
      <div class="row header-inner">
        <div class="columns large-3">
          <div class="logo"> <a href="index"><img src="/images/tripenticer.jpg" alt=""></a> </div>
        </div>
        <div class="columns top-menu large-5 top-nav plr0">
          <nav>
            <section>
              <ul class="sf-menu large-12">
                <li class="active"><a href="../index">Home</a></li>
                <li><a href="../gallery">Destinations</a></li>
                <li><a href="../about">About Us</a></li>
                <li><a href="../HolidayPackages">Packages</a></li>
                <li class="has-dropdown"><a href="">Services</a>
                  <ul class="dropdown">
                    <li class="has-dropdown"><a href="HolidayPackages">Holiday Packages</a></li>
                    <li><a href="TourismPropertyBrokers">Tourism Property Brokers</a></li>
                    <li><a href="ManpowerImprovement">Manpower Improvement</a></li>
                    <li><a href="PropertyManagement">Holiday Property Management</a></li>
                    <li><a href="TourismConsultancy">Travel & Tourism Consultancy</a></li>
                    <li><a href="LitigationSupport">Tourism Litigation Support</a></li>
                  </ul>
                </li>
                <li><a href="../contact">Contact</a></li>
              </ul>
            </section>
          </nav>
        </div>
        <div class="column large-4">
            <img src="/images/phone.jpg">
            <img src="/images/login.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<hr style = "padding:0; margin:0; height:3px; background-color:#088A08">