<%- include partials/header.ejs %>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-9 content">
        <h1 class="page-title">About Us</h1>
        <p>
        Tripenticer is an agency working for the promotion of responsible, sustainable and universally accessible tourism.It offers support to all sectors of tourism, in advancing knowledge and fostering sustainable tourism policies and  development worldwide. We are concentrated in tourism education and training, We work with members of all sectors of Tourism  Industry, including associations and local tourism authorities
        Tripenticer is helping to meet the specific needs of all tourism sectors and support  them ,in their efforts to develop and promote the tourism industry   
        </p>
        <h3> Ourr Objectives are:</h3>
        <ul>
          <li>  Build up a stronger, healthier and more efficient tourism sector</li>
          <li>  Optimise socio-economic benefits of tourism</li>
          <li>  Alleviate poverty at the grass-root level</li>
          <li>  Promote sustainable livelihoods</li>
          <li>  Preserve, conserve and enhance cultural and natural heritage</li>
          <li>  Involve local communities in the development process</li>
        </ul>
		
	  </div>
      <div class="columns large-3 content sidebar">
        <h1 class="page-title services">Our Services</h1>
        <ul>
		  <li class="bullet"><a href="HolidayPackages">Holiday Packages</a></li>
          <li class="bullet"><a href="TourismPropertyBrokers">Tourism Property Management</a></li>
          <li class="bullet"><a href="ManpowerImprovement">Manpower Improvement</a></li>
          <li class="bullet"><a href="PropertyManagement">Holiday Property Management</a></li>
          <li class="bullet"><a href="TourismConsultancy">Travel & Tourism Consultancy</a></li>
          <li class="bullet"><a href="LitigationSupport">Tourism Litigation Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>