<%- include partials/header.ejs %>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content">
        <h1 class="page-title">Destination</h1>
        <h2 class="sub-title">Augue, in lectus? Velit rhoncus. Nec! Porttitor ultrices, magna, lacus porttitor egestas et sit aliquet aliquet. Pulvinar rhoncus! Odio egestas? Ultrices velit ultricies hac, est aenean habitasse habitasse, nec, integer magna montes porttitor phasellus</h2>
        <div class="thumbnail-block">
          <ul class="large-block-grid-4 block-grid four-up">
            <li><a class="thumbnail" href="images/baby-lamb.jpg"><img src="images/baby-lamb.jpg" alt=""></a></li>
            <li><a class="thumbnail" href="images/golden-wheat-field.jpg"><img src="images/golden-wheat-field.jpg" alt=""></a></li>
            <li><a class="thumbnail" href="images/cracked-earth-texture.jpg"><img src="images/cracked-earth-texture.jpg" alt=""></a></li>
            <li><a class="thumbnail" href="images/beautiful-young-girl.jpg"><img src="images/beautiful-young-girl.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="thumbnail-block">
          <ul class="large-block-grid-4 block-grid four-up">
            <li><a class="thumbnail" href="images/tree-and-storm-2.jpg"><img src="images/tree-and-storm-2.jpg" alt=""></a></li>
            <li><a class="thumbnail" href="images/trees.jpg"><img src="images/trees.jpg" alt=""></a></li>
            <li><a class="thumbnail" href="images/coffee.jpg"><img src="images/coffee.jpg" alt=""></a></li>
            <li><a class="thumbnail" href="images/house.jpg"><img src="images/house.jpg" alt=""></a></li>
          </ul>
        </div>
        <div>
          <p>Augue, in lectus? Velit rhoncus. Nec! Porttitor ultrices, magna, lacus porttitor egestas et sit aliquet aliquet. Pulvinar rhoncus! Odio egestas? Ultrices velit ultricies hac, est aenean habitasse habitasse, nec, integer magna montes porttitor phasellus</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>