<%- include partials/header.ejs %>
<div class="row content-wrapper call-to-action">
  <div class="columns large-12" style="height:400px;">
    <div class="row content-wrapper-inner">
      <div class="columns large-5"> 
        <div class="package-form">

          <form role="form">
          <h3>Find Your Holiday</h3>
         <div class="form-group">
          <label for="category">Package Category</label>
          <select class="form-control" id="category">
            <option><span class="glyphicon glyphicon-cutlery">Family</span></option>
          </select>
         </div>
         <div class="form-group">
          <label for="Destination">Destination</label>
          <select class="form-control" id="Destination">
            <option><span class="glyphicon glyphicon-map-marker">Destination</span></option>
          </select>
         </div>
         <div class="form-group">
          <label for="Duration">Duration</label>
          <select class="form-control" id="Duration">
            <option><span class="glyphicon glyphicon-map-marker">Duration</span></option>
          </select>
         </div>
        <div class="form-group">
        <button type="submit" class="btn btn-sucess" style="background:#088A08">Search My Holidays</button>
        </div>
        </form>
        </div>
      </div>
      
      
      
      <div class="columns large-7 action-box">
        <div class="action-box-inner">

             <a class="button orange" href="TourismPropertyBrokers">Tourism Property Brokers</a>
             <a class="button orange" href="ManpowerImprovement">Manpower Improvemet</a>
             <a class="button orange" href="PropertyManagement">Holiday Property Management</a>
             <a class="button orange" href="TourismConsultancy">Travel & Tourism Consultancy</a>
             <a class="button orange" href="LitigationSupport">Tourism Litigation Support</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row content-wrapper">
  <div class="columns large-12 plr0">
    <div class="row content-wrapper-inner front-service-boxes">
      <div class="columns content large-4 front-service-boxes"> 
      
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="images/carousel1.jpg" alt="Chania">
              </div>
          
              <div class="item">
                <img src="images/carousel2.jpg" alt="Chania">
              </div>
          
              <div class="item">
                <img src="images/carousel3.jpg" alt="Flower">
              </div>
          
              <div class="item">
                <img src="images/carousel4.jpg" alt="Flower">
              </div>
            </div>
          </div>
      </div>
      
      
      <div class="columns content large-8 package-box">
        <h2>Tripenticer Holidays</h2>
        <p>Tripenticer is an agency working for the promotion of responsible, sustainable and universally accessible tourism.It offers support to all sectors of tourism, in advancing knowledge and fostering sustainable tourism policies and  development worldwide. We are concentrated in tourism education and training, We work with members of all sectors of Tourism  Industry, including associations and local tourism authorities
Tripenticer is helping to meet the specific needs of all tourism sectors and support  them ,in their efforts to develop and promote the tourism industry </p>
      
      
      </div>
    </div>
  </div>
</div>




<div class="row content-wrapper">
  <div class="columns large-12 plr0">
    <div class="row content-wrapper-inner front-service-boxes">
      
      <div class="columns content large-4 front-service-box"> <img src="images/catimg3.jpg" alt=""></div>
      <div class="columns content large-4 front-service-box"> <img src="images/catimg2.jpg" alt=""></div>
      <div class="columns content large-4 front-service-box"> <img src="images/catimg1.jpg" alt=""></div>
    
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>