<%- include partials/header.ejs %>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-9 content">
        <h1 class="page-title">Manpower improvement and Placement </h1>
        <p>we make opportunities for newcomers and the professionals as well. We assure placement both in India and abroad, in Hotels, resorts, hospitality sectors like Travel agencies, Tour companies ,etc. . We also can improve and promote the existing professionals from the present status to a better future  </p>
      	<p>We have an excellent database of Employers and Employee up to the present  We give inputs to the newcomers and make them fit for the industry. We give professional training, and to familiarize the hospitality field. It gives the current development in the Hospitality industry and help them to develop their carriers. All these lead them to a better placement in India and foreign countries too. </p>
	  	<p>
		  Regarding the Holiday employers - we provide, skilled and suitable manpower, that help them to improve and flourish,their business. 
      We have a current database of employers and employees for the same. We request you to register with your details and requirements   

      Training & Improvement in your career
      Hospitality recruitment agency specializing in Travel & Tourism sector Jobs to entire world
      Intensive training & placement for newcomers in Hospitality sector  
		</p>
	  </div>
      <div class="columns large-3 content sidebar">
        <h1 class="page-title services">Our Services</h1>
        <ul>
		  <li class="bullet"><a href="HolidayPackages">Holiday Packages</a></li>
          <li class="bullet"><a href="TourismPropertyBrokers">Tourism Property Management</a></li>
          <li class="bullet"><a href="ManpowerImprovement">Manpower Improvement</a></li>
          <li class="bullet"><a href="PropertyManagement">Holiday Property Management</a></li>
          <li class="bullet"><a href="TourismConsultancy">Travel & Tourism Consultancy</a></li>
          <li class="bullet"><a href="LitigationSupport">Tourism Litigation Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>