<%- include partials/header.ejs %>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-9 content">
        <h1 class="page-title">Holiday property management</h1>
 	  	<p>
		  The taking care of any Holiday property on the basis of profit sharing. We provide the proficiency and Marketing. We have been doing this business for quite a long. We find many Resorts/ hotels are either closed or running in dead form. Here we apply our proficiency to innovate and make it profitable
      So we take care of it  and run it as well as technical assistance including legal. We are excellent in marketing. We know how to do it better than anybody.  	 
      You are invited and  have a discussion with us  and you will find a change and you moneyed.  
		</p>
	  </div>
      <div class="columns large-3 content sidebar">
        <h1 class="page-title services">Our Services</h1>
        <ul>
		  <li class="bullet"><a href="HolidayPackages">Holiday Packages</a></li>
          <li class="bullet"><a href="TourismPropertyBrokers">Tourism Property Management</a></li>
          <li class="bullet"><a href="ManpowerImprovement">Manpower Improvement</a></li>
          <li class="bullet"><a href="PropertyManagement">Holiday Property Management</a></li>
          <li class="bullet"><a href="TourismConsultancy">Travel & Tourism Consultancy</a></li>
          <li class="bullet"><a href="LitigationSupport">Tourism Litigation Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>