<%- include partials/header.ejs %>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-9 content">
        <h1 class="page-title">Hospitality / Travel / Tourism-- Consultancy</h1>
        What to do if your business operating at a loss ? </br>
        How to Start a Resort Business Successfully ? </br>
        How to start a Tour agency?</br>
        Consultancy In Hospitality sector </br>
        Quality improvement and manpower planning</br>
        Hospitality Startup Buzz  </br>
        How to start a resort? - We are the top-notch in Holiday property dealings </br>
        From a land to a resort – all the one service</br>
        From nonprofit  to  - make you flourished 
	  </div>
      <div class="columns large-3 content sidebar">
        <h1 class="page-title services">Our Services</h1>
        <ul>
		  <li class="bullet"><a href="HolidayPackages">Holiday Packages</a></li>
          <li class="bullet"><a href="TourismPropertyBrokers">Tourism Property Management</a></li>
          <li class="bullet"><a href="ManpowerImprovement">Manpower Improvement</a></li>
          <li class="bullet"><a href="PropertyManagement">Holiday Property Management</a></li>
          <li class="bullet"><a href="TourismConsultancy">Travel & Tourism Consultancy</a></li>
          <li class="bullet"><a href="LitigationSupport">Tourism Litigation Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>