<%- include partials/header.ejs %>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-9 content">
        <h1 class="page-title">Tourism Property Brokers</h1>
        <p>Commercial real estate for sale & lease by Resort Brokers  in India- Kerala. We help,   Hotels, Pubs, Bars, Motels & Resorts for sale throughout Kerala. Tripenticer is the most respected and successful real estate agency, trusted by those that believe in a fair deal..Holiday property lease and sale .We are one of the esteemed holiday property and sale firm that help, both Lessee and Lessor. For the property owners, we gives only genuine clients  and backup with all assistance including legal help.  </p>
      	<p>For Lessee , We show only profit making properties with all ins and outs of the property concerned. Furthermore, we will back up you with services including legal, licences, Marketing, manpower etc. in brief, your property will have a good business and flourish </p>
	  	<p>
		  Sale- Resort real estate.  
			Sale is an art, we are able to find out the best clients, both buyers and sellers in no time. All documentations guaranteed. We have a current  database of Lessors- who wish to lease their properties. We are getting a large number of enquiries from people who are looking for holiday property to lease,  both short term & long term  
		</p>
	  </div>
      <div class="columns large-3 content sidebar">
        <h1 class="page-title services">Our Services</h1>
        <ul>
		  <li class="bullet"><a href="HolidayPackages">Holiday Packages</a></li>
          <li class="bullet"><a href="TourismPropertyBrokers">Tourism Property Management</a></li>
          <li class="bullet"><a href="ManpowerImprovement">Manpower Improvement</a></li>
          <li class="bullet"><a href="PropertyManagement">Holiday Property Management</a></li>
          <li class="bullet"><a href="TourismConsultancy">Travel & Tourism Consultancy</a></li>
          <li class="bullet"><a href="LitigationSupport">Tourism Litigation Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>